*{
  box-sizing: border-box;
}


$color: white;



.wrapper {
  display: flex;
  height: 100vh;
}


.side-bar {
  width: 300px;
  &__user-name{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100% - 100px);
  }
}


.top-items{
  height: 20px;
  width: 260px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  &__name{
    line-height: 20px;
    color: $color;
    font-size: 16px; 
  }
  &__icons{
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    &--edit{
      padding-right: 5px;
    }
  }
  .icon{
    text-decoration: none;
    color: $color
  }
}


.group{
  padding-top: 20px;
  margin-bottom: 40px;
  width: 260px;
  margin: auto;
  .group-name{
    font-size: 15px;
    color: $color
  }
  .group-message{
    margin-top: 5px;
    font-size: 11px;
    color: $color
  }
}






.chat-main {
  width: calc(100% - 300px);
  
  &__group-info{
    height: 100px;
    background-color: $color;
    display: flex;
    justify-content: space-between;
    
    .title  {
      margin: 35px 0px 15px 40px;
      font-size: 20px;
      color: #333333;
    }
    .name {
      font-size: 12px;
      color: #999999;
      margin-left: 40px;
    }
    .edit{
      color: #38aef0;
      font-size: 16px;
      margin: 28px 40px 0 0;
      padding: 0 20px;
    }
  }
  
  &__message-list{
    height:  calc(100vh - 190px);
    background-color: #fafafa;
    
    .message{
      padding: 35px 0 0 40px;
      &__main{
      display: flex;
        &--talker{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
          padding-right: 5px;
        }
        &--date{
          color: #999999;
          font-size: 12px;
        }
      }
      &__text{
        color: #434a54;
        font-size: 14px;
        margin-top: 12px;
        margin-bottom: 46px;
      }
    }
  }
  
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
  }
}

.message-2{
  padding: 0 0 0 40px;
}
  

form{
  display: flex;
  .input-box{
    padding-top: 20px;
    padding-left: 40px;
    width: calc(100vw - 40px - 155px);
    display: flex;
    position: relative;

    &__text{
      height: 50px;
      width: 100%;
      color: #434a54;
      border-style: none;
      padding:  0 40px 0 10px;
      
    }

    &__image{
      cursor: pointer;
      font-size: 1.3rem;
      position: absolute;
      top: 30px;
      right: 10px;

      &__file{
        display: none;
      }
    }
  }
}

.submit-btn{
  width: 100px;
  margin-top: 20px;
  margin-right: 40px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: $color;
  cursor: pointer;
}


